@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin custom-scrollbar($where) {
  #{$where}::-webkit-scrollbar {
    width: 12px;
  }
  #{$where}::-webkit-scrollbar-track {
    background: var(--c-white);
  }
  #{$where}::-webkit-scrollbar-thumb {
    background-color: var(--c-grey-for-scroll);
    border-radius: 20px;
    border: 2px solid var(--c-white);
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin scrollbars(
  $size,
  $foreground-color,
  $radius: 0px,
  $background-color: mix($foreground-color, white, 30%),
  $background-color-hover: mix($foreground-color, black, 80%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $radius;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $background-color-hover;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

@mixin pseudo($display: inline-flex, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}


@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin hide-text() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}

@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin font($size, $line-height: null) {
  font-size: $size;
  @if $line-height {
    line-height: $line-height;
  }
}

/**/
