.form {
  margin: 40px 0;

  > fieldset:last-of-type {
    // margin-bottom: 30px;
  }

  &-title {
    padding-right: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;

    @include fluid-size('font-size', 22px, 27px);
  }

  &-logos {
    margin-top: 34px;
  }

  &-logo-wrap {
    flex: 0 1 auto;

    &:nth-child(2) {
      margin: 0 15px;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__email-confirmation {
    position: relative;
  }

  &__fixed-close {
    position: absolute;
    top: -15px;
    right: -15px;
  }
}

.continue {
  margin-top: 20px;
}

.hint {
  display: block;
  padding: 40px 0;
}

// for sign up
.form-info {
  &-person {
    align-items: flex-start;
    margin: 44px 0;

    @include media-to(xs) {
      flex-wrap: wrap;
      margin: 33px 0 20px;
    }

    .person-media {
      position: relative;
      flex: 0 0 112px;
      margin-right: 12px;

      @include media-to(xs) {
        margin-bottom: 30px;
      }

      &:hover {
        .person-media-upload {
          bottom: -10px;
        }
      }

      .photo {
        position: relative;
        height: 112px;
        overflow: hidden;
        border-radius: 50%;

        &-default {
          height: 100%;
          background-color: $c-grey-light-1;
          background-repeat: no-repeat;
          background-position: bottom -5px center;
        }

        &-selected {
          position: relative;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      &-upload {
        position: absolute;
        bottom: -15px;
        left: 50%;
        padding: 5px 7px;
        color: #fff;
        font-size: 15px;
        font-family: $f-regular;
        line-height: 17px;
        background: var(--c-brand);
        border-radius: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateX(-50%);
        cursor: pointer;
        transition: all 0.2s;

        svg {
          margin-right: 8px;
        }
      }
    }

    .person-fields {
      flex: 1 1 auto;
    }
  }

  .prof-info {
    font-size: 20px;
    line-height: 23px;
  }

  ::v-deep {
    fieldset {
      &:first-of-type {
        margin-top: 0;
      }
    }

    .v-select.input {
      border-bottom: 1px solid var(--c-grey);
    }

    .vs__selected {
      margin-left: 0;
      padding-left: 0;
      color: #000;

      &-options {
        padding-left: 0;
      }
    }
  }
}

.loading {
  width: 100px;
}

.level-users {
  padding: 9px 12px;
  color: $c-black;
  font-size: 15px;
  line-height: 17px;
  background: rgba(116, 23, 234, 0.2);
  border-radius: 3px;

  @include fluid-size('margin-bottom', 20px, 40px);
}
