.list-box {
  margin-top: 50px;

  &__title {
    line-height: 1.2;
    color: var(--c-black);
    letter-spacing: 0.01em;
    font-family: $f-medium;

    @include fluid-size('margin-bottom', 25px, 42px);
    @include fluid-size('font-size', 22px, 27px);
  }

  &__no-data {
    margin-top: 20px;
    text-align: center;
  }
}