.contributors-list {
  @include default-observer;

  &__title {
    line-height: 1.16;
    margin-bottom: 20px;
    text-transform: none;
    letter-spacing: unset;
    font-style: normal;
    font-weight: normal;
    color: var($c-black);
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding-bottom: 27px;
    @include fluid-size('font-size', 16px, 20px);
  }

  &__section {
    width: calc(100% / 3);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.54);

    @include media-from(md) {
      &:nth-child(9n - 8),
      &:nth-child(9n - 7) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.54);
      }

      &:nth-child(9n - 1),
      &:nth-child(9n) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.54);
      }

      &:nth-child(9n - 6),
      &:nth-child(9n - 3),
      &:nth-child(9n) {
        .contributors-list__section-link {
          margin-right: 0;
          margin-left: 30px;
        }
      }

      &:nth-child(9n - 7),
      &:nth-child(9n - 4),
      &:nth-child(9n - 1) {
        .contributors-list__section-link {
          margin-right: 0;
        }
      }
    }

    @include media-between(xs, md) {
      width: calc(100% / 2);

      &:nth-child(6n - 5) {
        .contributors-list__section-link {
          border-bottom: 1px solid rgba(0, 0, 0, 0.54);
        }
      }

      &:nth-child(6n) {
        .contributors-list__section-link {
          border-bottom: 1px solid rgba(0, 0, 0, 0.54);
        }
      }

      &:nth-child(6n - 4),
      &:nth-child(6n - 2),
      &:nth-child(6n) {
        .contributors-list__section-link {
          margin-right: 0;
        }
      }
    }

    @include media-to(xs) {
      margin: 10px 0;
      width: 100%;

      .contributors-list__section-link {
        margin: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &__section-link {
    padding: 40px 0 40px 0;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    height: 195px;
    position: relative;
    bottom: -1px;
    z-index: -1;
    margin-right: 30px;
  }

  &__avatar-wrap {
    margin-right: 10px;
  }

  &__user-info-wrap {
    width: calc(100% - 110px);

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__info-wrap {
    flex-wrap: wrap;
    @include fluid-size('min-height', 20px, 25px);
  }

  &__avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__name {
    color: var(--c-black);
    line-height: 1.15;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__achievement,
  &__progress {
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--c-black);
  }

  &__achievement {
    margin-bottom: 3px;
  }

  &__progress {
    span {
      margin: 0 2px;

      @include media-to(xs) {
        margin: 0 1px;
      }
    }
  }

  &__status {
    margin-right: 3px;
  }

  &__status,
  &__link {
    color: #292929;
    line-height: 1.5;
    letter-spacing: -0.01em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-right: 5px;
  }

  &__hidden-wrap {
    margin-top: 10px;
  }

  &__pagination-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
