.post-bc {
  padding: 0;
  margin-bottom: 3px;

  &__link {
    white-space: nowrap;
    font-size: 12px;
    line-height: 1;
    margin-right: 5px;
    display: block;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    color: black;

    &--category {
      background-color: #e9eef2;
      padding: 5px 10px;
    }

    &--group {
      background-color: #f4eef7;
      color: var(--c-brand);
      padding: 5px 10px;
    }
  }
}
