.form {
  @include default-in-observer;

  margin-top: 50px;
  overflow: hidden;
  padding: 10px 15px 20px;
  border: 1px solid var(--c-grey-light);

  @include media-from(sm) {
    padding: 30px 30px 20px;
  }

  .noPadding & {
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
  }
}

.inset {
  max-width: 400px;
}

.img {
  width: 100%;
  text-align: center;
  margin-bottom: -0.5em;

  &-wrap {
    max-width: 70%;
    margin: 20px auto;
  }
}
