$APP_BREACKPOINTS: (
  xss-min: 321px,
  xs-min: 390px,
  xs-mid: 475px,
  xs: 576px,
  xs-semiplus: 600px,
  xs-plus: 700px,
  sm: 768px,
  sm-lg: 780px,
  sm-extra: 789px,
  md-mid: 850px,
  md: 992px,
  md-plus: 1110px,
  lg: 1200px,
  lg-mid: 1300px,
  lg-plus: 1400px,
  xl-less: 1500px,
  xl-min: 1580px,
  xl: 1650px,
  xl-plus: 1750px,
  xlg: 1900px,
  /*
  *
  special
  *
  */ res-1400: 1400px
);
