.top-wrap {
  margin-bottom: 45px;
}

.middle-wrap {
  @include fluid-size(padding-left, 60px, 110px);
  margin-bottom: 45px;

  @include media-to(xs) {
    padding-left: 0;
  }
}

.bottom-wrap {
  @include fluid-size(padding-left, 60px, 110px);

  @include media-to(xs) {
    padding-left: 0;
  }
}

.hidden-block {
  display: none;
  margin-top: 50px;

  @include media-to(md) {
    display: block;
  }

  div {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}