.comments-list {
  margin-top: 20px;

  &__list {
    list-style: none;
  }

  &__separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;

    &--deco-line {
      border-top: 1px solid var(--c-grey-light);
      width: 240px;
      max-width: 100%;
    }

    &--deco-txt {
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #292929;
      margin: 0 15px;
      text-align: center;
      @include fluid-size(font-size, 10px, 14px);
      @include fluid-size(margin-left, 10px, 15px);
      @include fluid-size(margin-right, 10px, 15px);
    }
  }
}