.sorting-bar {
  
  @include media-to(xs) {
    display: none;
  }

  &__button-sorting {
    padding: 3px;
    color: #292929;
    @include fluid-size(font-size, 13px, 15px);
    line-height: 17px;
    letter-spacing: 0px;
    text-transform: unset;

    &.active {
      color: var(--c-brand);
    }
  }
}
