.errors {
  margin-top: 10px;
  display: flex;

  .with-error + & {
    margin-top: 0;
  }
}

.input-wrapper {
  margin: 25px 0;
  cursor: text;

  @include media-from(sm) {    
    margin: 25px 0;
  }

  /deep/.input-wrapper {
    margin: 0!important;
  }
}

.error {
  position: relative;
  user-select: none;
  line-height: 1;
  white-space: nowrap;
  font-family: $f-regular;
  font-size: 14px;
  color: var(--c-error);
  transition: all 1s;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0.55em;
    height: 1.5px;
    width: 0;
    transition: all 1s;
    background-color: var(--c-success);
  }

  &.active {

    &:after {
      
      width: 100%;
    }
  }

  &.active {
    color: var(--c-success);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}